.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}

.table-user-information > tbody > tr > td {
    border-top: 0;
}

.toppad
{
    margin-top:20px;
}

.row-padding {
    margin-top: 25px;
    margin-bottom: 25px;
}

#visits {
	width: 70%;
	margin: 0 auto;
}

#num_input {
	width: 20%;
}

#date_input {
    width: 40%;
}

.patient-info {
	width: 50%;
}

#alert-text {
    word-wrap:break-word;
    padding: 10px 10px 10px 10px;
}

.field-limit {
    width: 50%;
}

.pimage {
    display: inline-block;
    width: 220px;
}