{% load base_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block  title%}{% endblock title%}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    {% block extra_css %}{% endblock extra_css %}
</head>

<body>
{% if user.is_authenticated %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"> <span style="color:#000;">Klinic</span></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="{% navactive request 'home' %}"><a href="/home">Home <span class="sr-only">(current)</span></a></li>
                    <li class="{% navactive request 'create_patient' %}"><a href="/create_patient">Create Patient</a></li>
                    <li class="{% navactive request 'search' %}"><a href="/search">Search</a></li>
                    <li class="{% navactive request 'new_patients' %}"><a href="/new_patients">New Patients (<span id="p_count" style="color:red; font-size: 0.8em;"></span>)</a></li>
                </ul>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{request.user}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/logout">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endif %}
    {% block content %}
    {% endblock content %}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/newpatient.js"></script>
    {% block script %}{% endblock script %}
</body>
</html>
