{% extends "base.html" %}
{% block title %}Patient Registration{% endblock title %}

{% block content %}
<div class="container-fluid">
    <form action="create_patient" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <section class="container">
    <div class="container-page">        
      <div class="col-md-6">
        <h3 class="dark-grey">Patient Registration</h3>
        <h5 class="dark-grey">Fields with <span style="color:red ">*</span> are required</h5>

        {%if errors%}
          <div class="alert alert-danger" role="alert" style="width:350px;">
          The following field(s) is/are required:

          {% for error in errors %}
            <br />
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{error|title}}
          {% endfor %}

          </div>
        {%endif%}

        <div class="form-group col-lg-12">
          <label>Name <span style="color:red ">*</span></label>
          <input type="text" name="name" class="form-control" value="{{supplied_data.name}}" required>
        </div>
                
        <div class="form-group col-lg-6">
          <label>Email Address</label>
          <input type="email" name="email" class="form-control" data-parsley-trigger="change" value="{{supplied_data.email}}">
        </div>
        
        <div class="form-group col-lg-12">
          <label>Address</label>
          <input type="" name="address" class="form-control" value="{{supplied_data.address}}">
        </div>
        <label for="gender">Sex <span style="color:red ">*</span></label>

        <div>
        {% if "M" in supplied_data.sex %}
          M: <input type="radio" name="sex" id="genderM" value="M" required  checked="true" />
          F: <input type="radio" name="sex" id="genderF" value="F" />
        {% elif "F" in supplied_data.sex %}
          M: <input type="radio" name="sex" id="genderM" value="M" required />
          F: <input type="radio" name="sex" id="genderF" value="F" checked="true" />
        {% else %}
          M: <input type="radio" name="sex" id="genderM" value="M" required />
          F: <input type="radio" name="sex" id="genderF" value="F" />
        {% endif %}
        </div>

        <div class="form-group col-lg-6">
          <label>Birth date</label>
          <input type="date" name="birth_date" class="form-control" value="{{supplied_data.birth_date}}">
        </div> 

        <div class="form-group col-lg-6">
          <label>Mobile <span style="color:red ">*</span></label>
          <input type="text" name="mobile_num" class="form-control" value="{{supplied_data.mobile_num}}" required>
        </div>      

        <div class="form-group col-lg-6">
          <label>Home</label>
          <input type="text" name="home_num" class="form-control" value="{{supplied_data.home_num}}">
        </div>  

        <div class="from-group col-lg-6">
          <label>Image(s):</label>
          <input type="file" name="image1" accept='image/*'>
          <input type="file" name="image2" accept='image/*'>
          <input type="file" name="image3" accept='image/*'>
          <input type="file" name="image4" accept='image/*'>
          <input type="file" name="image5" accept='image/*'>
        </div>

        <div class="form-group col-lg-12">
          <label>Medical History (Previous surgeries, known allergies ...etc):</label>
          <textarea name="medical_history" class="form-control" id="message-text">{{supplied_data.medical_history}}</textarea>
        </div>

        <div class="form-group col-lg-12">
          <label>Dental History:</label>
          <textarea name="dental_history" class="form-control" id="message-text">{{supplied_data.dental_history}}</textarea>
        </div>

      <div class="col-md-12">
        <button name="create_patient" type="submit" class="btn btn-primary">Create patient</button>
        <button id="clear_fields" type="button" class="btn btn-danger">Clear fields</button>
      </div>
    </div>
  </section>
  </form>
</div>
{% endblock content %}
