{% extends "base.html" %}
{% block title %}Patient Registration{% endblock title %}

{% block content %}
<div class="container-fluid">
<h3>Welcome to Klinic.</h3>
<p>This page is under construction.</p>
</div>
{% endblock content %}