{% extends "base.html" %}
{% block title %}New Patients{% endblock title %}
{% block content %}
<div class="container">
  <form action="/save_called" method="post">
  {% csrf_token %}
  <div class="panel panel-default" id="visits">
      <div class="panel-heading">Newly registered patients:</div>
      <table class="table">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Created at</th>
                  <th>Mobile</th>
                  <th>Called?</th>
              </tr>
          </thead>
          <tbody>
          {% for patient in patients %}
              <tr>
                  <td>{{patient.pk}}</td>
                  <td><a href="view_patient/{{patient.pk}}">{{patient.name|title}}</a></td>
                  <td>{{patient.created_at|date:"d-M-Y"}}</td>
                  <td>{{patient.mobile_num}}</td>
                  <td><input name="called_patients" type="checkbox" value="{{patient.pk}}"></td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
  </div>
  <button name="save_called" type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
{% endblock content %}
