
{% extends "base.html" %}
{% block title %}Patient Search{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="text-center">Patient search</h1>
    <br>
    <form action="/search" method="GET" class="form-inline" role="form">
        <div class="form-group">
            <input name="name" type="text" class="form-control" placeholder="Name (Optional)">
        </div>
        <div class="form-group">
            <input name="mobile_num" type="text" class="form-control" placeholder="Mobile (Optional)">
        </div>
        <div class="form-group">
            <input name="home_num" type="hidden" class="form-control" placeholder="Home Number (Optional)">
        </div>
        <div class="form-group">
            <input name="patient_id" type="text" class="form-control" placeholder="ID (Optional)">
        </div>
        <button name="search" type="submit" class="btn btn-primary">Search</button>
    </form>
    <div class="row">
        <br>
    </div>
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-success" role="alert" style="width:450px;">{{msg}}</div>
        {% endfor %}
    {% endif %}
    <div class="panel panel-default" id="visits">
        <div class="panel-heading">Search Results</div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Created at</th>
                    <th>Mobile</th>
                    <th>Home Number</th>
                </tr>
            </thead>
            <tbody>
            {% for patient in patients %}
                <tr>
                    <td>{{patient.pk}}</td>
                    <td><a href="view_patient/{{patient.pk}}">{{patient.name|title}}</a></td>
                    <td>{{patient.created_at|date:"d-M-Y"}}</td>
                    <td>{{patient.mobile_num}}</td>
                    <td>{{patient.home_num}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <center>
        <ul class="pagination">
        {% if search_mode %}
            {% if patients.has_previous %}
                <li><a href="?page={{ patients.previous_page_number }}&name={{name}}&mobile_num={{mobile_num}}&home_num={{home_num}}&patient_id={{patient_id|default_if_none:""}}&search=">&laquo;</a></li>
            {% endif %}
            {% for page in pages %}
                <li><a href="?page={{page}}&name={{name}}&mobile_num={{mobile_num}}&home_num={{home_num}}&patient_id={{patient_id|default_if_none:""}}&search=">{{page}}</a></li>
            {% endfor %}
            {% if patients.has_next %}
                <li><a href="?page={{ patients.next_page_number }}&name={{name}}&mobile_num={{mobile_num}}&home_num={{home_num}}&patient_id={{patient_id|default_if_none:""}}&search=">&raquo;</a></li>
            {% endif %}
        {% else %}
            {% if patients.has_previous %}
                <li><a href="?page={{ patients.previous_page_number }}">&laquo;</a></li>
            {% endif %}
            {% for page in pages %}
                <li><a href="?page={{page}}">{{page}}</a></li>
            {% endfor %}
            {% if patients.has_next %}
                <li><a href="?page={{ patients.next_page_number }}">&raquo;</a></li>
            {% endif %}
        {% endif %}
        </ul>
    </center>
</div>

{% endblock content %}