{% extends "base.html" %}
{% block title %}Patient Registration{% endblock title %}
{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.min.css">
{% endblock extra_css %}

{% block content %}
<div class="container-fluid">
    <form action="self_create" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <section class="container">
    <div class="container-page">        
      <div class="col-md-6">
        <h3 class="dark-grey">Patient Registration</h3>
        <h5 class="dark-grey">Fields with <span style="color:red ">*</span> are required</h5>

        {%if errors%}
          <div class="alert alert-danger" role="alert" style="width:350px;">
          The following field(s) is/are required:

          {% for error in errors %}
            <br />
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{error|title}}
          {% endfor %}

          </div>
        {%endif%}

        <div class="form-group col-lg-12">
          <label>Name <span style="color:red ">*</span></label>
          <input type="text" name="name" class="form-control" value="{{supplied_data.name}}" required>
        </div>
                
        <div class="form-group col-lg-6">
          <label>Email Address</label>
          <input type="email" name="email" class="form-control" data-parsley-trigger="change" value="{{supplied_data.email}}" >
        </div>
        
        <div class="form-group col-lg-12">
          <label>Address</label>
          <input type="" name="address" class="form-control" value="{{supplied_data.address}}">
        </div>
        <label for="gender">Sex <span style="color:red ">*</span></label>

        <div>
        {% if "M" in supplied_data.sex %}
          M: <input type="radio" name="sex" id="genderM" value="M" required  checked="true" />
          F: <input type="radio" name="sex" id="genderF" value="F" />
        {% elif "F" in supplied_data.sex %}
          M: <input type="radio" name="sex" id="genderM" value="M" required />
          F: <input type="radio" name="sex" id="genderF" value="F" checked="true" />
        {% else %}
          M: <input type="radio" name="sex" id="genderM" value="M" required />
          F: <input type="radio" name="sex" id="genderF" value="F" />
        {% endif %}
        </div>

        <div class="form-group col-lg-6">
          <label>Birth date</label>
          <input id="datepicker" type="text" name="birth_date" class="form-control" value="{{supplied_data.birth_date}}">
        </div>

        <div class="form-group col-lg-6">
          <label>Mobile <span style="color:red ">*</span></label>
          <input type="text" name="mobile_num" class="form-control" value="{{supplied_data.mobile_num}}" required>
        </div>

        <div class="form-group col-lg-6">
          <label>Home</label>
          <input type="text" name="home_num" class="form-control" value="{{supplied_data.home_num}}">
        </div>
        <div class="form-group col-lg-6">
          <label>Captcha <span style="color:red ">*</span></label> <br />
          {{ form.captcha }}
        </div>
        <input name="is_self_registered" type="hidden" value="True">
      <div class="col-md-12">
        <button name="self_create" type="submit" class="btn btn-primary">Register</button>
      </div>
    </div>
  </section>
  </form>
</div>
<form>

</form>
{% endblock content %}
{% block script %}
<script src="/static/js/jquery-ui.min.js"></script>
  <script>
  $(function() {
    $( "#datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true
    });
  });
  </script>
{% endblock script %}
