{% extends "base.html" %}
{% block title %}Registration successful{% endblock title %}
{% block content %}
<div style="padding-left: 50px;">
	<h3> Thank you! </h3> <h4> You have been registered in our system, expect a call from us soon.</h4>
</div>
{% endblock content %}

