{% extends "base.html" %}
{% block title %}Patient: {{patient.name}}{% endblock title %}

{% block extra_css %}
    <link href="/static/css/viewpatient.css" rel="stylesheet">
    <link href="/static/css/lightbox.css" rel="stylesheet" />
{% endblock extra_css %}
  {% block content %}
    <div class="container">
        <div class="row">
        
            <div class="col-xs-6">
                {% if messages %}
                    {% for msg in messages %}
                        <div class="alert alert-success" role="alert" style="width:570px;">{{msg}}</div>
                    {% endfor %}
                {% endif %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{patient.name}}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class=" col-md-9 col-lg-11 ">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>ID</td>
                                            <td>{{patient.pk}}</td>
                                        </tr>
                                        <tr>
                                            <td>Name:</td>
                                            <td>{{patient.name|title}}</td>
                                        </tr>
                                        <tr>
                                            <td>Date of Birth:</td>
                                            <td>{{patient.birth_date|date:"d-M-Y"}}</td>
                                        </tr>
                                        <tr>
                                            <td>Age:</td>
                                            <td>
                                                {{age}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sex:</td>
                                            <td>{{patient.sex}}</td>
                                        </tr>
                                        <tr>
                                            <td>Address:</td>
                                            <td>{{patient.address|default_if_none:""}}</td>
                                        </tr>
                                        <tr>
                                            <td>Email:</td>
                                            <td>{{patient.email|default_if_none:""}}</td>
                                        </tr>
                                        <td>Phone Number:</td>
                                        <td>Landline:&nbsp;
                                        {% if patient.home_num %}
                                          {{patient.home_num}}
                                        {%endif%}
                                          <br>
                                          <br>
                                        Mobile:&nbsp;
                                        {% if patient.mobile_num %}
                                          {{patient.mobile_num}}
                                        {%endif%}
                                        </td>
                                        </tr>
                                        <tr>
                                            <td>Medical history:</td>
                                            <td>{{patient.medical_history|default_if_none:""}}</td>
                                        </tr>
                                        <tr>
                                            <td>Dental history:</td>
                                            <td>{{patient.dental_history|default_if_none:""}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                      <button class="btn btn-primary" data-toggle="modal" data-target="#addVisit">Add Visit</button>
                      <span class="pull-right">
                        <button style="background:none; border:none; box-shadow:none;" type="button" data-target="#editPatient" data-toggle="modal"><a data-original-title="Edit patient" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning" data-target="#editPatient" data-toggle="modal"><i class="glyphicon glyphicon-edit"></i></a></button>
                          <a name="del" href="/delete_patient?id={{patient.pk}}" data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                      </span>
                    </div>
                </div>
            </div>

            <!-- Start images widget -->
            <div class="col-xs-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Patient pictures</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class=" col-md-9 col-lg-11 ">
                              <form id="delete_images_form" action="/delete_pictures" method="POST">
                              {% csrf_token %}
                              <input type="hidden" name="patient_id" value="{{patient.pk}}">
                            {% load thumbnail %}

                            {% if patient.image1 %}
                              {% thumbnail patient.image1 200x200 upscale as thumb %}
                              <div class="pimage">
                                <input name="image1" type="checkbox">
                                <a href="{{MEDIA_URL}}{{patient.image1}}" data-lightbox="patient" data-title="{{patient.name}}">
                                  <img src="{{ thumb.url }}">
                                </a>
                              </div>
                            {% endif %}
                            {% if patient.image2 %}
                              {% thumbnail patient.image2 200x200 upscale as thumb %}
                              <div class="pimage">
                                <input name="image2" type="checkbox">
                                <a href="{{MEDIA_URL}}{{patient.image2}}" data-lightbox="patient" data-title="{{patient.name}}">
                                  <img src="{{ thumb.url }}">
                                </a>
                              </div>
                            {% endif %}
                            {% if patient.image3 %}
                              {% thumbnail patient.image3 200x200 upscale as thumb %}
                              <div class="pimage">
                                <input name="image3" type="checkbox">
                                <a href="{{MEDIA_URL}}{{patient.image3}}" data-lightbox="patient" data-title="{{patient.name}}">
                                  <img src="{{ thumb.url }}">
                                </a>
                              </div>
                            {% endif %}
                            {% if patient.image4 %}
                              {% thumbnail patient.image4 200x200 upscale as thumb %}
                              <div class="pimage">
                                <input name="image4" type="checkbox">
                                <a href="{{MEDIA_URL}}{{patient.image4}}" data-lightbox="patient" data-title="{{patient.name}}">
                                  <img src="{{ thumb.url }}">
                                </a>
                              </div>
                            {% endif %}
                            {% if patient.image5 %}
                              {% thumbnail patient.image5 200x200 upscale as thumb %}
                              <div class="pimage">
                                <input name="image5" type="checkbox">
                                <a href="{{MEDIA_URL}}{{patient.image5}}" data-lightbox="patient" data-title="{{patient.name}}">
                                  <img src="{{ thumb.url }}">
                                </a>
                              </div>
                            {% endif %}
                              </form>
                            </div>
                        </div>
                    </div>
              <div class="panel-footer">
                <button class="btn btn-primary" data-target="#addPictures" data-toggle="modal">Add picture(s)</button>
                <span class="pull-right">
                  <button name="delete_images_button" class="btn btn-danger">Delete picture(s)</button>
                </span>
              </div>
              </div>
          </div><!-- End images widget -->

        </div>
    </div>

        <div class="panel panel-default" id="visits">
            <div class="panel-heading">Visits</div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Cost</th>
                        <th>Paid</th>
                        <th>Complaint</th>
                        <th>Remarks</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                {% for visit in visits %}
                    <tr id="visit-{{visit.pk}}">
                        <td date="{{visit.created_at|date:"Y-m-d"}}">{{visit.created_at|date:"d-M-Y"}}</td>
                        <td cost="{{visit.cost}}">{{visit.cost}}</td>
                        <td paid="{{visit.paid}}">{{visit.paid}}</td>
                        <td>
                            <button type="button" name="complaint" id="complaint-{{visit.pk}}" value="{{visit.complaint}}" class="btn btn-default">Complaint</button>
                        </td>
                        <td>
                            <button type="button"name="remarks" id="remarks-{{visit.pk}}" value="{{visit.remarks}}" class="btn btn-default">Remarks</button>
                        </td>
                        <td>
                            <button name="edit_visit" id="visit-id-{{visit.pk}}" style="background:none; border:none; box-shadow:none;" type="button" data-target="#editVisit" data-toggle="modal"><a data-original-title="Edit this visit" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a></button>
                            <a name="del" href="/delete_visit?id={{visit.pk}}" data-original-title="Remove this visit" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td><b>Total</b></td>
                    <td>{{total_cost.cost__sum}}</td>
                    <td>{{total_paid.paid__sum}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><b>Total Unpaid</b></td>
                    <td>{{unpaid}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Add Visit Modal -->
        <div class="modal fade" id="addVisit" tabindex="-1" role="dialog" aria-labeledby="addVisitLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="exampleModalLabel">Add Visit</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" action="/add_visit" method="POST">
                            <input name="uid" type="hidden" value="{{patient.pk}}">
                            {% csrf_token %}
                            <div class="form-group" id="date_input">
                                <label class="control-label">Date</label>
                                <input name="created_at" type="date" class="form-control">
                            </div>
                            <div class="form-group" id="num_input">
                                <label for="recipient-name" class="control-label">Cost</label>
                                <input name="cost" type="number" class="form-control" required>
                            </div>
                            <div class="form-group" id="num_input">
                                <label for="recipient-name" class="control-label">Paid</label>
                                <input name="paid" type="number" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="control-label">Complaint</label>
                                <textarea name="complaint" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="control-label">Remarks</label>
                                <textarea name="remarks" class="form-control"></textarea>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                        </form>
                </div>
            </div>
        </div>

        <!-- Edit Visit Modal -->
        <div class="modal fade" id="editVisit" tabindex="-1" role="dialog" aria-labeledby="editVisitLable" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="exampleModalLabel">Edit Visit</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" action="/modify_visit" method="POST">
                            <input name="visit_id" type="hidden" value="">
                            {% csrf_token %}
                            <div class="form-group" id="date_input">
                                <label class="control-label">Date</label>
                                <input name="edit_created_at" type="date" class="form-control">
                            </div>
                            <div class="form-group" id="num_input">
                                <label for="recipient-name" class="control-label">Cost</label>
                                <input name="edit_cost" type="number" class="form-control" required>
                            </div>
                            <div class="form-group" id="num_input">
                                <label for="recipient-name" class="control-label">Paid</label>
                                <input name="edit_paid" type="number" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="control-label">Complaint</label>
                                <textarea name="edit_complaint" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="control-label">Remarks</label>
                                <textarea name="edit_remarks" class="form-control"></textarea>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                        </form>
                </div>
            </div>
        </div>

      <!-- Edit Patient Modal -->
      <div class="modal fade" id="editPatient" tabindex="-1" role="dialog" aria-labeledby="editPatientLable" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Edit Patient</h4>
            </div>
            <div class="modal-body">
            <form action="/modify_patient/{{patient.id}}" method="POST">
              <!-- <input name="patient_id" type="hidden" value="{{patient.pk}}"> -->
              {% csrf_token %}
              <div class="form-group">
                <label>Name <span style="color:red ">*</span></label>
                <div class="field-limit">
                  <input type="text" name="name" class="form-control" value="{{patient.name}}" required>
                </div>
              </div>
                      
              <div class="form-group">
                <label>Email Address</label>
                <div class="field-limit">
                  <input type="email" name="email" class="form-control" value="{{patient.email|default_if_none:""}}">
                </div>
              </div>
              
              <div class="form-group">
                <label>Address</label>
                <input type="" name="address" class="form-control" value="{{patient.address|default_if_none:""}}">
              </div>

              <div class="form-group">
                <label for="gender">Sex <span style="color:red ">*</span></label>
                {% if patient.sex == "M"%}
                  M: <input type="radio" name="sex" id="genderM" value="M" required checked/>
                  F: <input type="radio" name="sex" id="genderF" value="F" />
                {% else %}
                  M: <input type="radio" name="sex" id="genderM" value="M" required />
                  F: <input type="radio" name="sex" id="genderF" value="F" checked />
                {% endif %}
              </div>

              <div class="form-group">
                <label for="birth_date" class="control-label">Birth date:</label>
                <div class="field-limit">
                  <input type="date" class="form-control" name="birth_date" id="birth_date" value="{{patient.birth_date|date:"Y-m-d"}}">
                </div>
              </div>

              <div class="form-group">
                <label>Mobile <span style="color:red ">*</span></label>
                <div class="field-limit">
                  <input type="text" name="mobile_num" class="form-control" value="{{patient.mobile_num|default_if_none:""}}" required>
                </div>
              </div>      

              <div class="form-group">
                <label>Home</label>
                <div class="field-limit">
                  <input type="text" name="home_num" class="form-control" value="{{patient.home_num|default_if_none:""}}">
                </div>
              </div>  

              <div class="form-group">
                <label>Medical History (Previous surgeries, known allergies ...etc):</label>
                <textarea name="medical_history" class="form-control" id="message-text">{{patient.medical_history|default_if_none:""}}</textarea>
              </div>

              <div class="form-group">
                <label>Dental History:</label>
                <textarea name="dental_history" class="form-control" id="message-text">{{patient.dental_history|default_if_none:""}}</textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
            </form>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

        <!-- Add Pictures Modal -->
        <div class="modal fade" id="addPictures" tabindex="-1" role="dialog" aria-labeledby="addPicturesLable" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="exampleModalLabel">Add Pictures</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" action="/add_pictures" method="POST" enctype="multipart/form-data">
                            <input name="patient_id" type="hidden" value="{{patient.pk}}">
                            {% csrf_token %}
                            {% if emptyImageSlots|length > 0 %}
                                <label class="control-label">Available pictures slots:</label>
                                {% for slot in emptyImageSlots %}
                                <input type="file" name="{{slot}}" accept='image/*'>
                                {% endfor %}
                            {% else %}
                                You cannnot add more than <b>5</b> images per patient.
                            {% endif %}
                    </div>
                        <div class="modal-footer">
                        {% if emptyImageSlots|length > 0 %}   
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        {% else %}
                            <button type="button" class="btn btn-default">Close</button>
                        {% endif %}
                        </div>
                        </form>
                </div>
            </div>
        </div>

    <!-- Alert Modal -->
    <div class="modal fade" id="Alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="AlertLable"></h4>
          </div>
          <div class="alert-body" id="alert-text"></div>
          <div class="modal-footer">
            <button id="alert-ok" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
  {% endblock content %}
  {% block script %}
  <script src="/static/js/lightbox.min.js"></script>
  <script src="/static/js/viewpatient.js"></script>
  <script type="text/javascript">
    {% if not request.user.is_superuser %}
      $('[name="del"]').on('click', function()
        {
          alert("Your account is not authorized to delete.")
          return false;
        });
    {% endif %}
  </script>
  {% endblock script %}